In [40]:
import models as mdl
import numpy as np
from dataclasses import dataclass
import pandas as pd

In [41]:
from datetime import timedelta, datetime

### Metrices

- Top cards Missing Stats: 
    -

In [2]:
@dataclass
class highMissNp:
    name: str =""
    missing_percentage: float = ""
    high_col: str = ""

In [3]:
min_ord_date, max_ord_date = mdl.get_date_range()
cols_dict = mdl.cols_dict

In [4]:
null_cols_comp = [x for x in mdl.get_columns() if x.__contains__('null') and not x.__contains__('cans')]
null_cols_canc = [x for x in mdl.get_columns() if x.__contains__('null') and x.__contains__('cans')]
null_cols_all = [x for x in mdl.get_columns() if x.__contains__('null')]


# dt = date_input("Select a Date", value=max_ord_date, min_value=min_ord_date, max_value=max_ord_date)
dt = max_ord_date
option_comp = [cols_dict[x] for x in null_cols_comp]
seller_name = [x[0] for x in mdl.get_sellers(dt)]

In [5]:
fltr_val = ""
for key in cols_dict.keys():
    if cols_dict[key] == option_comp:
        fltr_val = key

In [6]:
cols_dict

{'curr_date': 'Current Date',
 'ord_date': 'Order Date',
 'seller_np': 'Seller NP',
 'null_fulfilment_id': 'Fulfilment ID',
 'null_net_tran_id': 'Net Transaction ID',
 'null_qty': 'Quantity',
 'null_itm_fulfilment_id': 'Item Fulfilment ID',
 'null_del_pc': 'Delivery Pincode',
 'null_created_date_time': 'Created Date',
 'null_domain': 'Domain',
 'null_del_cty': 'Delivery City',
 'null_cans_code': 'Cancellation Code',
 'null_cans_dt_time': 'Cancellation Date',
 'null_ord_stats': 'Order Status',
 'null_fulfil_status': 'Fulfilment Status',
 'null_itm_cat': 'Item Category',
 'null_cat_cons': 'Category',
 'null_sell_pincode': 'Seller Pincode',
 'null_prov_id': 'Provider ID',
 'null_itm_id': 'Item ID',
 'null_sell_np': 'Null Seller NP',
 'null_net_ord_id': 'Network Order ID',
 'null_sell_cty': 'Seller City'}

### Top N NULL provider NPs

In [7]:
n = 5

In [8]:
missing_col = mdl.load_missing_pc(dt_val=dt, col_name="null_del_cty", total=0)

In [53]:
missing_col

[('biz.polestarre.in', 2588, 4842),
 ('webapi.magicpin.in/oms_partner/ondc', 1517, 58320),
 ('agg.dominos.co.in', 452, 5123),
 ('ondc.kiko.live/ondc-seller', 368, 1758),
 ('biz.ondc.rebelfoods.com', 216, 709),
 ('ondc-prod.uengage.in', 122, 1274),
 ('ondc.gofrugal.com', 122, 223),
 ('prod-sellerapp.shiprocket.com', 120, 226),
 ('ondc-otipy.crofarm.com', 110, 60882),
 ('prod-myfitness-bpp.shopalyst.com', 101, 165),
 ('ondc.addble.com', 83, 147),
 ('sellerappapi.ninjacart.in', 78, 121),
 ('api.eksecond.in', 76, 287),
 ('cloud-adaptor.proteantech.in/api/seller/adaptor/ndhgo', 70, 127),
 ('ondc-prod.moreretail.net', 66, 122),
 ('shikhar-ondc.hulcd.com', 57, 79),
 ('biz.enstore.com', 48, 1127),
 ('retailconnect.co.in', 44, 65),
 ('api.esamudaay.com/ondc/sdk/bpp/retail/bzspr', 40, 87),
 ('biz.ondc.mcdindia.com', 31, 46),
 ('ondc.xpressbaazaar.com', 22, 36),
 ('prod.growthfalcons.com/v1/gf', 21, 802),
 ('ondcmp.nlincs.in', 19, 1121),
 ('integrations.channelier.com', 14, 37),
 ('ondc.sellerapp.in', 12, 22),
 ('prod-eatanytime-bpp.shopalyst.com', 10, 17),
 ('api.esamudaay.com/ondc/sdk/bpp/retail/uespl', 9, 27),
 ('ondc.thrivenow.in', 7, 12),
 ('prd.mystore.in', 6, 350),
 ('apigateway.bizom.in/ondc', 6, 17),
 ('ondc.chattybao.com/ondc', 6, 12),
 ('prod-villain-bpp.shopalyst.com', 4, 4),
 ('prod-gonoise-bpp.shopalyst.com', 4, 4),
 ('prod-boat-bpp.shopalyst.com', 3, 6),
 ('pep1.in', 2, 2),
 ('prod-wellify-bpp.shopalyst.com', 2, 3),
 ('prod-thebodyshop-bpp.shopalyst.com', 2, 2),
 ('ondc.brandshops.info', 2, 4),
 ('prod-alpino-bpp.shopalyst.com', 1, 1),
 ('ondcseller-prod.costbo.com', 1, 6)]

In [9]:
df = pd.DataFrame(missing_col)

In [10]:
act_col = df.columns[1]

In [11]:
df.head(5)

                             seller_np  null_del_cty  total_orders
0                    biz.polestarre.in          2588          4842
1  webapi.magicpin.in/oms_partner/ondc          1517         58320
2                    agg.dominos.co.in           452          5123
3           ondc.kiko.live/ondc-seller           368          1758
4              biz.ondc.rebelfoods.com           216           709

In [12]:
df["missing_percentage"] = df[act_col] / df["total_orders"]

In [13]:
df.head(5)

,seller_np,null_del_cty,total_orders,missing_percentage
0,biz.polestarre.in,2588,4842,0.534490
1,webapi.magicpin.in/oms_partner/ondc,1517,58320,0.026012
2,agg.dominos.co.in,452,5123,0.088230
3,ondc.kiko.live/ondc-seller,368,1758,0.209329
4,biz.ondc.rebelfoods.com,216,709,0.304654

In [14]:
df.sort_values(by="missing_percentage", ascending=False, inplace=True)

In [15]:
top_3 = df[df["missing_percentage"] < 1][:n]

In [16]:
top_3.reset_index(inplace=True, drop=True)

In [17]:
top_3

,seller_np,null_del_cty,total_orders,missing_percentage
0,shikhar-ondc.hulcd.com,57,79,0.721519
1,retailconnect.co.in,44,65,0.676923
2,biz.ondc.mcdindia.com,31,46,0.673913
3,prod-wellify-bpp.shopalyst.com,2,3,0.666667
4,sellerappapi.ninjacart.in,78,121,0.644628

In [18]:
top_3["seller_np"][0]

'shikhar-ondc.hulcd.com'

In [19]:
high_np1 = highMissNp(top_3["seller_np"][0], 
                        np.round(top_3["missing_percentage"][0],3),
                        act_col)

In [20]:
high_np1

highMissNp(name='shikhar-ondc.hulcd.com', missing_percentage=0.722, high_col='null_del_cty')

In [21]:
# def top_

### Cancellations and Total Orders

In [22]:
df_cc, df_canc = mdl.get_per_col(dt)

In [23]:
df_canc.head(5)

   null_cans_code  null_cans_dt_time  total_canceled_orders
0               0                  0                      2
1               0                  0                      0
2               0                  0                      0
3               0                  0                      0
4               0                  0                      1

### Cancellation trend for a column by date.

In [24]:
df_cc.head(5)

,null_fulfilment_id,null_net_tran_id,null_qty,null_itm_fulfilment_id,null_del_pc,null_created_date_time,null_domain,null_del_cty,null_ord_stats,null_fulfil_status,null_itm_cat,null_cat_cons,null_sell_pincode,null_prov_id,null_itm_id,null_sell_np,null_net_ord_id,null_sell_cty,total_orders
0,0,0,0,0,0,0,0,6,0,0,0,0,0,0,0,0,0,0,12
1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
3,0,0,0,0,0,0,0,14,0,0,0,0,0,0,0,0,0,0,37
4,0,0,0,0,0,0,0,7,0,0,1,1,0,0,0,0,0,0,12

In [25]:
col_name = "null_del_cty"

In [26]:
tmp_df =  df_cc[[col_name, "total_orders"]]

In [34]:
tmp_df.loc[:,["tmp_percentage"]] = tmp_df["null_del_cty"] / tmp_df["total_orders"]

In [35]:
tmp_df.loc[:,["tmp_percentage"]] = tmp_df.sort_values(ascending=False, by="tmp_percentage")

In [36]:
tmp_df[tmp_df["tmp_percentage"]<1.00].head(5)

   null_del_cty  total_orders  tmp_percentage
0             6            12        0.500000
2             0             2        0.000000
3            14            37        0.378378
4             7            12        0.583333
5            12            22        0.545455

### Top Column by cancellation percentage for a day

In [30]:
df_cc.head(5)

,null_fulfilment_id,null_net_tran_id,null_qty,null_itm_fulfilment_id,null_del_pc,null_created_date_time,null_domain,null_del_cty,null_ord_stats,null_fulfil_status,null_itm_cat,null_cat_cons,null_sell_pincode,null_prov_id,null_itm_id,null_sell_np,null_net_ord_id,null_sell_cty,total_orders
0,0,0,0,0,0,0,0,6,0,0,0,0,0,0,0,0,0,0,12
1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
3,0,0,0,0,0,0,0,14,0,0,0,0,0,0,0,0,0,0,37
4,0,0,0,0,0,0,0,7,0,0,1,1,0,0,0,0,0,0,12

In [31]:
compl_cols = []
compl_vals = []
total_val = df_cc["total_orders"].sum()

In [32]:
for col in df_cc.columns:
    tot = df_cc[col].sum()
    if tot > 0 and col != "total_orders":
        compl_cols.append(col)
        compl_vals.append((tot/total_val)*100)

In [33]:
pd.DataFrame([compl_vals], columns=compl_cols)

   null_del_cty  null_itm_cat  null_cat_cons  null_sell_pincode  null_sell_cty
0      3.219234      0.352711        3.74282           0.008469       0.008469

### Prev Day Stats

In [45]:
dt

datetime.date(2024, 6, 25)

In [47]:
prev_dt = dt - timedelta(days=1)

In [48]:
prev_dt

datetime.date(2024, 6, 24)

In [49]:
df_cc_prev, df_canc_prev = mdl.get_per_col(prev_dt)

## Functions.

In [ ]:
def top_n_providers_dt(missing_col,date_val, n:str = 5):