In [1]:
import sys
sys.path.append("../")

In [2]:
import pandas as pd
from datetime import datetime, timedelta
import numpy as np
import os

In [3]:
import Misc.env_vars as ev
from Logic.base_queries import run_stmt
import Misc.env_vars as ev
from Logic import base_queries as bq

Found File.
Loaded Env from File.
5432
The port is  5432

In [4]:
from Models.models import (od_dq_base, dq_agg_view, dq_agg_sum, dq_col_sum, dq_dim_order_status, dq_dim_sellers, ds_data_sanity, dq_agg_order_stats,
ds_last_run_date)

In [5]:
from models import engine

The port is  5432

In [6]:
from sqlalchemy import Select, func, or_, desc, and_

## Top Cards

### Total Orders with Delta

In [7]:
dt_rng = bq.get_date_range()

max_date = dt_rng[1]

In [8]:
prev_dt = max_date - timedelta(days=1)

In [13]:
seller = "agg.dominos.co.in"

In [10]:
prev_dt

datetime.date(2024, 8, 18)

In [11]:
st_dt = datetime.strptime("2024-08-10","%Y-%m-%d")

In [12]:
# seller = None

In [17]:
df_temp = bq.query_top_cards(max_date, prev_dt, seller_np=None)

In [18]:
df_temp

   Order_Date Total_Orders Cancelled_Orders
0  2024-08-19       215520             5502
1  2024-08-18       243538             8158